/* src/fonts.css */
@font-face {
    font-family: 'APTOS-DISPLAY';
    src: url('./fonts/AptosDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Add more variations if necessary */
@font-face {
    font-family: 'APTOS-DISPLAY';
    src: url('./fonts/AptosDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}